Repository Coders-Asylum/fuzzy-train, changes with the labels that .github/labeler.yml gives for each.
All labels: Backend 🔌, main.dart 🚨, Frontend 📱, Asset Library Update 📦, Test 🧪, pupspec.yaml updated, android 🤖, ios 🍎, Circle CI

Update README.md
  README.md
Labels: none

Delete .idea directory
  .idea/Custom-Card-Design-in-Flutter.iml
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Dart_SDK.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
Labels: none

Delete .idea directory (#1)
  .idea/Custom-Card-Design-in-Flutter.iml
  .idea/libraries/Dart_Packages.xml
  .idea/libraries/Dart_SDK.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
Labels: none

Create change_file_test.txt
  custom_card_design/test/change_file_test.txt
Labels: Test 🧪

Delete custom_card_design/android directory
  custom_card_design/android/.gitignore
  custom_card_design/android/app/build.gradle
  custom_card_design/android/app/src/debug/AndroidManifest.xml
  custom_card_design/android/app/src/main/AndroidManifest.xml
  custom_card_design/android/app/src/main/kotlin/com/codersasylum/custom_card_design/MainActivity.kt
  custom_card_design/android/app/src/main/res/drawable/launch_background.xml
  custom_card_design/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  custom_card_design/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  custom_card_design/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  custom_card_design/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  custom_card_design/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  custom_card_design/android/app/src/main/res/values/styles.xml
  custom_card_design/android/app/src/profile/AndroidManifest.xml
  custom_card_design/android/build.gradle
  custom_card_design/android/gradle.properties
  custom_card_design/android/gradle/wrapper/gradle-wrapper.properties
  custom_card_design/android/settings.gradle
Labels: android 🤖

Delete custom_card_design/ios directory
  custom_card_design/ios/.gitignore
  custom_card_design/ios/Flutter/AppFrameworkInfo.plist
  custom_card_design/ios/Flutter/Debug.xcconfig
  custom_card_design/ios/Flutter/Release.xcconfig
  custom_card_design/ios/Runner.xcodeproj/project.pbxproj
  custom_card_design/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  custom_card_design/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  custom_card_design/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  custom_card_design/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  custom_card_design/ios/Runner.xcworkspace/contents.xcworkspacedata
  custom_card_design/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  custom_card_design/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  custom_card_design/ios/Runner/AppDelegate.swift
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  custom_card_design/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  custom_card_design/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
  custom_card_design/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  custom_card_design/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  custom_card_design/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  custom_card_design/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
  custom_card_design/ios/Runner/Base.lproj/LaunchScreen.storyboard
  custom_card_design/ios/Runner/Base.lproj/Main.storyboard
  custom_card_design/ios/Runner/Info.plist
  custom_card_design/ios/Runner/Runner-Bridging-Header.h
Labels: ios 🍎

Update README.md
  custom_card_design/README.md
Labels: none

Delete pubspec.yaml
  custom_card_design/pubspec.yaml
Labels: pupspec.yaml updated

Delete .metadata
  custom_card_design/.metadata
Labels: none

Update README.md
  README.md
Labels: none

Create sunflower.dart
  custom_card_design/lib/sunflower.dart
Labels: none

Added file delete test file (#4)
  custom_card_design/lib/sunflower.dart
Labels: none

Create manual.yml
  .github/workflows/manual.yml
Labels: none

Update README.md
  README.md
Labels: none

.github/labeler.yml:

Backend 🔌:
  - custom_card_design/lib/backend/**/*

main.dart 🚨:
  - custom_card_design/lib/main.dart

Frontend 📱:
  - custom_card_design/lib/screens/* 
  - custom_card_design/lib/screens/**/*

Asset Library Update 📦:
- custom_card_design/assets/*

Test 🧪:
  - custom_card_design/test/*

pupspec.yaml updated:
- custom_card_design/pubspec.yaml

android 🤖:
- custom_card_design/android/**/*

ios 🍎:
- custom_card_design/ios/**/**

Circle CI:
- .circleci/*
- .circleci/**/*
